In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#this line is to print the plot in Jupiter notebook
%matplotlib inline

#This library is to request access to the website for scraping
from urllib.request import urlopen 
from bs4 import BeautifulSoup
import re

In [3]:
url="https://www.hubertiming.com/results/2018MLK" #Open Link
html=urlopen(url)

In [4]:
soup=BeautifulSoup(html) #The website data is passed to BeautifulSoup

In [5]:
title=soup.title
print(title.text)

Race results for the 2018 MLK Dream Run!

In [7]:
links=soup.find_all('a',href=True)
for link in links:
    print(link['href'])

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2018MLK10K
/results/2018MLK15K
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [18]:
data=[]
allrows=soup.find_all("tr")
for row in allrows:
    row_list=row.find_all("td")
    dataRow=[]
    for cell in row_list:
        dataRow.append(cell.text)
    data.append(dataRow)
data=data[4:]
print(data[-2:])

[['190', '2087', '\r\n\r\n                    LEESHA POSEY\r\n\r\n                ', 'F', '43', 'PORTLAND', 'OR', '30:17', '1:33:53', '\r\n\r\n                    112 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    36 of 37\r\n\r\n                ', '0:00', '1:33:53'], ['191', '1216', '\r\n\r\n                    ZULMA OCHOA\r\n\r\n                ', 'F', '40', 'GRESHAM', 'OR', '33:22', '1:43:27', '\r\n\r\n                    113 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    37 of 37\r\n\r\n                ', '0:00', '1:43:27']]

In [21]:
df=pd.DataFrame(data)
print(df.head())
print(df.tail())

     0     1                                                  2     3     4   \
0  None  None                                               None  None  None
1     1  1191  \r\n\r\n                    MAX RANDOLPH\r\n\r...     M    29
2     2  1080  \r\n\r\n                    NEED NAME KAISER R...     M    25
3     3  1275  \r\n\r\n                    DAN FRANEK\r\n\r\n...     M    52
4     4  1223  \r\n\r\n                    PAUL TAYLOR\r\n\r\...     M    54

           5     6     7      8   \
0        None  None  None   None
1  WASHINGTON    DC  5:25  16:48
2    PORTLAND    OR  5:39  17:31
3    PORTLAND    OR  5:53  18:15
4    PORTLAND    OR  5:58  18:31

                                                  9        10  \
0                                               None     None
1  \r\n\r\n                    1 of 78\r\n\r\n   ...  M 21-39
2  \r\n\r\n                    2 of 78\r\n\r\n   ...  M 21-39
3  \r\n\r\n                    3 of 78\r\n\r\n   ...  M 40-54
4  \r\n\r\n                    4 of 78\r\n\r\n   ...  M 40-54

                                                  11    12     13
0                                               None  None   None
1  \r\n\r\n                    1 of 33\r\n\r\n   ...  0:08  16:56
2  \r\n\r\n                    2 of 33\r\n\r\n   ...  0:09  17:40
3  \r\n\r\n                    1 of 27\r\n\r\n   ...  0:07  18:22
4  \r\n\r\n                    2 of 27\r\n\r\n   ...  0:07  18:38
      0     1                                                  2  3   4   \
187  187  1254  \r\n\r\n                    CYNTHIA HARRIS\r\n...  F  64
188  188  1085  \r\n\r\n                    EBONY LAWRENCE\r\n...  F  30
189  189  1170  \r\n\r\n                    ANTHONY WILLIAMS\r...  M  39
190  190  2087  \r\n\r\n                    LEESHA POSEY\r\n\r...  F  43
191  191  1216  \r\n\r\n                    ZULMA OCHOA\r\n\r\...  F  40

           5   6      7        8   \
187  PORTLAND  OR  21:53  1:07:51
188  PORTLAND  OR  22:00  1:08:12
189  PORTLAND  OR  22:19  1:09:11
190  PORTLAND  OR  30:17  1:33:53
191   GRESHAM  OR  33:22  1:43:27

                                                    9        10  \
187  \r\n\r\n                    110 of 113\r\n\r\n...    F 55+
188  \r\n\r\n                    111 of 113\r\n\r\n...  F 21-39
189  \r\n\r\n                    78 of 78\r\n\r\n  ...  M 21-39
190  \r\n\r\n                    112 of 113\r\n\r\n...  F 40-54
191  \r\n\r\n                    113 of 113\r\n\r\n...  F 40-54

                                                    11    12       13
187  \r\n\r\n                    14 of 14\r\n\r\n  ...  1:19  1:09:10
188  \r\n\r\n                    53 of 53\r\n\r\n  ...  0:58  1:09:10
189  \r\n\r\n                    33 of 33\r\n\r\n  ...  0:08  1:09:19
190  \r\n\r\n                    36 of 37\r\n\r\n  ...  0:00  1:33:53
191  \r\n\r\n                    37 of 37\r\n\r\n  ...  0:00  1:43:27

In [22]:
header_list=[]
col_headers=soup.find_all('th')
for col in col_headers:
    header_list.append(col.text)
print(header_list)

['Place', 'Bib', 'Name', 'Gender', 'Age', 'City', 'State', 'Chip Pace', 'Time', 'Gender Place', 'Age Group', 'Age Group Place', 'Time to Start', 'Gun Time']

In [26]:
df.columns=header_list
print(df[1:3])

  Place   Bib                                               Name Gender Age  \
1     1  1191  \r\n\r\n                    MAX RANDOLPH\r\n\r...      M  29
2     2  1080  \r\n\r\n                    NEED NAME KAISER R...      M  25

         City State Chip Pace   Time  \
1  WASHINGTON    DC      5:25  16:48
2    PORTLAND    OR      5:39  17:31

                                        Gender Place Age Group  \
1  \r\n\r\n                    1 of 78\r\n\r\n   ...   M 21-39
2  \r\n\r\n                    2 of 78\r\n\r\n   ...   M 21-39

                                     Age Group Place Time to Start Gun Time
1  \r\n\r\n                    1 of 33\r\n\r\n   ...          0:08    16:56
2  \r\n\r\n                    2 of 33\r\n\r\n   ...          0:09    17:40

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Place            191 non-null    object
 1   Bib              191 non-null    object
 2   Name             191 non-null    object
 3   Gender           191 non-null    object
 4   Age              191 non-null    object
 5   City             191 non-null    object
 6   State            191 non-null    object
 7   Chip Pace        191 non-null    object
 8   Time             191 non-null    object
 9   Gender Place     191 non-null    object
 10  Age Group        191 non-null    object
 11  Age Group Place  191 non-null    object
 12  Time to Start    191 non-null    object
 13  Gun Time         191 non-null    object
dtypes: object(14)
memory usage: 21.1+ KB

In [30]:
df2=df.dropna(how='any')
df.shape

(192, 14)

In [42]:
df2.fillna('00:00')
df2['Time'] = pd.to_datetime(df2['Time'], format='%H:%M:%S', errors='coerce') 
df2 = df2.sort_values('Time')
print(df['Time'])

153   1900-01-01 01:00:01
154   1900-01-01 01:00:08
155   1900-01-01 01:00:09
156   1900-01-01 01:00:16
157   1900-01-01 01:00:17
              ...
148                   NaT
149                   NaT
150                   NaT
151                   NaT
152                   NaT
Name: Time, Length: 192, dtype: datetime64[ns]

C:\Users\Keert\AppData\Local\Temp\ipykernel_17960\3870957547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Time'] = pd.to_datetime(df2['Time'], format='%H:%M:%S', errors='coerce')

In [41]:
df2['ChipTime_minutes']=pd.to_timedelta(df2['Time'])
df2['ChipTime_minutes']=df2['ChipTime_minutes'].astype('timedelta64[s]')/60
df2[['ChipTime_minutes']].info()
print(df2.head())

ValueError: expected hh:mm:ss format